.clearfix:after {
    content: " "; /* Older browser do not support empty content */
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
 }

.wrapper{
    margin: 0 auto;
}

.header{
    width: 100%;
    background-color: red;
    padding-top:30px;
    padding-bottom: 25px;
    min-width: 621px;
}

.logo{
    width: 30%;
}

.main-wrapper{
    width: 100%;
    min-width: 621px;
}

.hero{  
    background-image: url("../images/hero_background.png");
    background-repeat: no-repeat;
}

.hero .wrapper div{
    text-align: center;
    padding-top: 150px;
    padding-bottom: 100px;
}

.services .wrapper{
    text-align: center;
}

.services-card-wrapper{
    width: 100%;
    padding-bottom: 85px;
    padding-top: 85px;
}

.services-card{
    width: 45%;
    margin-right: 2.5%;
    margin-left: 2.5%;
    display: block;
    cursor: pointer;
    float: left;
    text-align: center;
    margin-bottom: 30px;
}

.services-card .image{
   text-align: center; 
   width: 100%;
}

.services-card .image .holder{
    
    width: 47.7941%;
    margin-left: 26.1029%;
    margin-right: 26.1029%;
    
}

.services-card .content{
    width: 100%;
}

.services-card-specials{
    margin-right: 0%;
    margin-left: 0;
}

.browser-add{
    background: url('../images/Background.png');
    /* background-image: -moz-linear-gradient( -82.192deg, rgb(255,108,84) 1%, rgb(255,43,89) 99%);
    background-image: -webkit-linear-gradient( -82.192deg, rgb(255,108,84) 1%, rgb(255,43,89) 99%);
    background-image: -ms-linear-gradient( -82.192deg, rgb(255,108,84) 1%, rgb(255,43,89) 99%); */
    padding-top: 56px;
    text-align: center;
}

.browser-header{
    width: 100%;
    text-align: center;
}

.browser-body{
    width: 100%;
    position: relative;
    height: 350px;
    z-index: 0;
}

.browser-l-r{
    width: 82.9351%;
    position: absolute;
    left:8.5324%;
    right: 8.5324%;
    bottom: 0px;
    z-index: 1;
}

.browser-l{
    width: 47.2222%;
    float: left;
}

.browser-r{
    width:47.2222%;
    float:right;
}

.browser-mid{
    width: 64.1975%;
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 17.9012%;
    right: 17.9012%;
}

.phone{
    width:31.7235%;
    float: left;
    position: relative;
    height: 300px;
}


.phone1{
    width:40.3865%;
    position: absolute;
    top: 140px;
    
    /* bottom: 104px; */
    z-index: 1;
    float: right;
    left: 67.0756%;
}

.phone2{
    width: 55.3374%;
    position:absolute;
    z-index: 2;
    top: 68px;
    float: left;
    bottom: 68px;
    left: 33.3333%;
}


.phone-add .wrapper .content{
    width: 48.8054%;
    float: right;
    padding-top: 146px;
    padding-bottom: 113px;  
  
}

.portfolio{
    background: url("../images/portfolio.png");
    padding-bottom: 56px;
    padding-top: 56px;
}

.portfolio-headers{
    text-align: center;
    width: 100%;
}

.portfolio-body{
    text-align: center;
    width: 100%;
}

.portfolio-card-wrapper{
    margin-top: 25px;
}

.portfolio-card{
    width: 47%;
    float: left;
    text-align: center;
    margin-right: 3%;
    margin-bottom: 31px;
}

.portfolio-unique1{
    margin-right: -3%;
}

.portfolio-card .image{
    width : 100%;
}

.portfolio-card .content{
    background-color: #ffffff;
    width: 100%;
}

.stats{
    background-color: rgb(35, 53, 55); 
    padding-top: 81px;
    padding-bottom: 81px;
}

.stats-card{
    width:40%;
    margin-right: 5%;
    margin-left: 5%;
    float: left;
    text-align: center;
    margin-bottom: 30px;
}

.stats-card .image{
    width: 100%;
}

.stats-card .content{
    width: 100%;
}

.team{    
    padding-bottom: 56px;
    padding-top: 56px;
}

.team-header{
    text-align: center;
    width: 100%;
}

.team-card-wrapper{
    width: 100%;
}

.team-card-unique{
    margin-right: 0;
}

.team-card{
    width:45%;
    margin-right: 2.5%;
    margin-left: 2.5%;
    float: left;
    margin-bottom: 30px;
}


.team-card .image{
    background-color: #232e3d;
    width: 100%;
}

.team-card .content{
    padding-top: 33px;
    padding-bottom: 33px;
    padding-left: 11.7647%;
    padding-right: 11.7647%;
    text-align: center;
    background-size: 100%;
    background: url("../images/team_but.png");
}



.subscribe{
    background: url("../images/subscribe.png");
    padding-bottom: 96px;
    padding-top: 96px;
    text-align: center;
}



.clients .wrapper{
        
    padding-bottom: 56px;
    padding-top: 56px;
}

.client-headers{
    text-align: center;
    width: 100%;
}

.client-card-wrapper{
    width: 100%;
}

.client-card{
    width: 40%;
    float: left;
    text-align: center;
    margin-left: 5%;
    padding: 45px 0px;
    margin-bottom: 20px;
    background: url("../images/cliient-card.png");
}



.map{
    background-color: #232e3d;
    padding-top: 113px;
    padding-bottom: 113px;
}

.footer{
    background-color: #233537;
    width: 100%;
    min-width: 621px;
}


.Add{
    width: 100%;
    background: url("../images/Add_background.png");
    padding-top: 125px; 
}

.Add-r{
    width: 57.5938%;
    padding-top: 45px;
    float: right;
    
}

.Add-l{
    width:31.8259%;
    float: left;
    position: relative;
    height: 270;
    z-index: 0;
}

.Add-l div{
    /* width:31.8259%; */
    position: absolute;
    float: right;
    left: 53px;
    z-index: 1;
}

.para{
    padding-top: 27px;
}

.contact-us{   
    padding-bottom: 30px;
    padding-top: 30px;
    background:url('../images/contact.png');
}

.contact-us-h{
    text-align: center;
    padding-left:180px;
    padding-right:180px;    
}

.contact-us-b{
     
    width: 65.5290%;
    margin-left: 17.235%;
    margin-right:17.235%;
}

@media(min-width:375px){
    .wrapper{
        width: 73.25em;
        margin: 0 auto;
    }
    
    .header{
        width: 100%;
        min-width: 76em;
        padding-top:29px;
        padding-bottom: 26px;
    }
    
    .logo{
        float: left;
        width: 8.3617%;
    }
    
    .main-wrapper{
        width: 100%;
        min-width: 76em;
    }
    
    .hero{  
        background-image: url("../images/hero_background.png");
        background-repeat: no-repeat;
    }
    
    .hero .wrapper div{
        text-align: center;
        padding-top: 216px;
        padding-bottom: 250px;
    }
    
    .services .wrapper{
        text-align: center;
    }
    
    .services-card-wrapper{
        width: 100%;
        padding-bottom: 85px;
        padding-top: 85px;
    }
    
    .services-card{
        width: 23.0375%;
        margin-right: 29px;
        display: block;
        cursor: pointer;
        float: left;
        text-align: center;
        margin-left: 0;
    }
    
    .services-card .image{
       text-align: center; 
       width: 100%;
    }
    
    .services-card .image .holder{
        
        width: 47.7941%;
        margin-left: 26.1029%;
        margin-right: 26.1029%;
        
    }

    .services-card .content{
        width: 100%;
    }

    .browser-add{
        background: url("../images/Background.png");
        /* background-size: 100%; */
        /* background-image: -moz-linear-gradient( -82.192deg, rgb(255,108,84) 1%, rgb(255,43,89) 99%);
        background-image: -webkit-linear-gradient( -82.192deg, rgb(255,108,84) 1%, rgb(255,43,89) 99%);
        background-image: -ms-linear-gradient( -82.192deg, rgb(255,108,84) 1%, rgb(255,43,89) 99%); */
        padding-top: 56px;
        text-align: center;
    }
    
    .browser-header{
        width: 100%;
        text-align: center;
    }
    
    .browser-body{
        width: 100%;
        position: relative;
        height: 527px;
        z-index: 0;
    }
    
    .browser-l-r{
        width: 82.9351%;
        position: absolute;
        left:8.5324%;
        right: 8.5324%;
        bottom: 0px;
        z-index: 1;
    }
    
    .browser-l{
        width: 47.2222%;
        float: left;
    }
    
    .browser-r{
        width:47.2222%;
        float:right;
    }
    
    .browser-mid{
     width: 64.1975%;
     position: absolute;
     z-index: 2;
     bottom: 0;
     left: 17.9012%;
     right: 17.9012%;
    }
    
    .phone{
        width:41.7235%;
        float: left;
        position: relative;
        height: 577px;
    }
    
    .phone1{
        width:49.3865%;
        position: absolute;
        top: 140px;
        
        /* bottom: 104px; */
        z-index: 1;
        float: right;
        left: 67.0756%;
    }

    .phone2{
        width: 65.3374%;
        position:absolute;
        z-index: 2;
        top: 68px;
        float: left;
        bottom: 68px;
        left: 33.3333%;
    }
    
    .phone-add .wrapper .content{
        width: 48.8054%;
        float: right;
        padding-top: 146px;
        padding-bottom: 113px;  
      
    }
    
    .portfolio{
        background-image: url("../images/portfolio.png");
        padding-bottom: 56px;
        padding-top: 56px;
    }
    
    .portfolio-headers{
        text-align: center;
        width: 100%;
    }
    
    .portfolio-body{
        text-align: center;
        width: 100%;
    }
    
    .portfolio-card-wrapper{
        margin-top: 25px;
    }
    
    
    .portfolio-card{
        width: 31.6552%;
        float: left;
        text-align: center;
        margin-right: 29px;
        margin-bottom: 31px;
    }
    
    .portfolio-unique{
        margin-right: 0px;
    }
    
    .portfolio-card .image{
        width : 100%;
    }
    
    .portfolio-card .content{
        background-color: #ffffff;
        width: 100%;
    }

    .stats{
        background-color: rgb(35, 53, 55); 
        padding-top: 81px;
        padding-bottom: 81px;
    }
    
    .stats-card{
        width:23.0375%;
        margin-right: 29px;
        float: left;
        text-align: center;
        margin-left: 0;
    }
    
    .stats-card .image{
        width: 100%;
    }
    
    .stats-card .content{
        width: 100%;
    }
    
    .team{
        
        padding-bottom: 56px;
        padding-top: 56px;
    }
    
    .team-header{
        text-align: center;
        width: 100%;
    }
    
    .team-card-wrapper{
        width: 100%;
    }
    
    .team-card-unique{
        margin-right: 0px;
        margin-left: 0px;
    }

    .team-card{
        width:23.0375%;
        /* margin-right: 29px; */
        float: left;
        margin-left: 0;
    }
    
    .team-card .image{
        background-color: #232e3d;
        width: 100%;
    }
    
    .team-card .content{
        padding-top: 33px;
        padding-bottom: 33px;
        padding-left: 11.7647%;
        padding-right: 11.7647%;
        text-align: center;
        background-image: url("../images/team_but.png");
    }
    
    .navigation-slider{
         
        /* background-image: -moz-linear-gradient( -89.706deg, rgb(255,108,84) 1%, rgb(255,43,89) 99%);
        background-image: -webkit-linear-gradient( -89.706deg, rgb(255,108,84) 1%, rgb(255,43,89) 99%);
        background-image: -ms-linear-gradient( -89.706deg, rgb(255,108,84) 1%, rgb(255,43,89) 99%); */
        /* display: initial; */
        background:url('../images/Background.png');
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .carousel{
        /* display: initial; */
        width: 70%;
        height: 170px;
        position: relative;
        border: 2px solid black;
        margin: 0 auto;
        overflow: hidden;
    }

    .carousel-wrapper{
        /* display: initial; */
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0px;
        top:0px;
    }

    .carousel-wrapper img{
        position: absolute;
        width: 100%;
        height: 100%;
        float: left;
    }

    .image-icon{
        /* z-index:2; */
        position: absolute;
        text-align:center;
        top: 0;
        left: 49%;
        cursor: pointer;
    }

    .nav-mid{
        /* z-index:2; */
        position: absolute;
        text-align: center;
        left: 30%;
        right: 30%;
        top: 40%;
        bottom: 40%;
        opacity: 1;
    }

    .nav-mid span{
        font-size: 20px;
        font-family: "Roboto";
        color: rgb(255, 255, 255);
    }

    .nav-mid p{
        font-size: 13px;
        font-family: "Roboto";
        color: rgb(255, 255, 255);
    }

    .nav-lower{
        /* z-index:2; */
        position: absolute;
        text-align: center;
        bottom: 0px;
        left: 45%;
    }

    .carousel-wrapper img{
        position: absolute;
        float: left;
        /* z-index: 1; */
    }
    
    .subscribe{
        background-image: url("../images/subscribe.png");
        padding-bottom: 96px;
        padding-top: 96px;
        text-align: center;
    }
    

    .about .wrapper{
        margin-top: 95px;
        margin-bottom: 95px;
    }
    .about-l{
        width: 48.7201%;
        float: left;
    }
    
    .about-r{
        width: 46.3310%;
        float:right;
    }
    
    .Add{
        background-image: url("../images/Add_background.png");
        padding-top: 125px; 
    }
    
    .Add-r{
        width: 57.5938%;
        padding-top: 86px;
        float: right;
        
    }
    
    .Add-l{
        width:31.8259%;
        float: left;
        position: relative;
        height: 405;
        z-index: 0;
    }
    
    .Add-l div{
        position: absolute;
        float: right;
        left: 153px;
        z-index: 1;
    }
    
    
    .para{
        padding-top: 27px;
    }
    /* .phone-mockup-l div{
        position: absolute;
        width: 58.9812%;
        top: 125px;
        right: 0px;
    } */ 
    
    .clients .wrapper{
        
        padding-bottom: 56px;
        padding-top: 56px;
    }
    
    .client-headers{
        text-align: center;
        width: 100%;
    }
    
    .client-card-wrapper{
        width: 100%;
    }
    
    .client-card{
        width: 31.6552%;
        float: left;
        text-align: center;
        margin-right: 29px;
        padding: 45px 0px;
        margin-left: 0;
        background-image: url("../images/cliient-card.png");
    }
    
    .client-card-b{
        padding-top: 30px;
    }
    
    .client-card-unique{
        margin-right: 0px;
    }
    
    .contact-us{
         
        padding-bottom: 95px;
        padding-top: 56px;
        background-image:url('../images/contact.png');
        background-size: 100%;
        
    }
    
    .contact-us-h{
         
        text-align: center;
        padding-left:180px;
        padding-right:180px;    
    }
    
    .contact-us-b{
         
        width: 65.5290%;
        margin-left: 17.235%;
        margin-right:17.235%;
    }
    
    .map{
        background-color: #232e3d;
        padding-top: 113px;
        padding-bottom: 113px;
    }
    
    .footer{
        background-color: #233537;
        width: 100%;
        min-width: 76em;
    }
}