.header img{
    max-width: 100%;
    display: block;
}

.header a{
    display: block;
    cursor: pointer;
}

.header ul{
    display: none;
}

.logo a img{
    max-width: 100%;;
}

.hero .wrapper h2{
    line-height: 150px;
    font-size: 40px;
    font-family: "Roboto";
    color: rgb(255, 255, 255);
}

.hero .wrapper button{
    width: 25%;
    background-image: url("../images/hero_btn.png");
    line-height: 70px;
    border-radius: 5px;
    border-style: none;
    font-size: 15px;
    font-family: "Roboto";
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.services .wrapper button{
    width: 25%;
    background-image: url("../images/hero_btn.png");
    line-height: 70px;
    border-radius: 5px;
    border-style: none;
    font-size: 17px;
    font-family: "Roboto";
    color: rgb(255, 255, 255);
    margin-bottom: 82px;
}

.services-card .image img{
    max-width: 100%;
}

.services-card .image span{
    line-height: 63px;
    font-size: 25px;
    font-family: "Roboto";
    font-weight: bold;
    color: rgb(63, 66, 68);
}

.services-card .content p{
    font-size: 18px;
    font-family: "Roboto";
    color: rgb(146, 155, 160);
}

.browser-header span{
    font-size: 35px;
    font-family: "Roboto";
    font-weight: bold;
    color: rgb(255, 255, 255);
    line-height: 132px;
}

.browser-header p{
    font-size: 15px;
    font-family: "Roboto";
    color: rgb(255, 255, 255);
    /* margin-bottom: 98px; */
}

.browser-body img{
    max-width: 100%;
    
}

.phone-add .wrapper span{
    font-size: 40px;
    font-family: "Roboto";
    color: rgb(63, 66, 68);
    font-weight: bold;
}

.phone-add .wrapper p{
    font-size: 15px;
    font-family: "Roboto";
    color: rgb(146, 155, 160);
    margin-top: 61px;
    margin-bottom: 41px;
}

.phone-add .wrapper button{
    width: 43.70620%;
    background-image: url("../images/hero_btn.png");
    line-height: 70px;
    border-radius: 5px;
    border-style: none;
    font-size: 15px;
    font-family: "Roboto";
    cursor: pointer;
    color: rgb(255, 255, 255);
}

.phone1 img{
    max-width: 100%;
}

.portfolio-headers span{
    font-size: 35px;
    font-family: "Roboto";
    color: rgb(255, 255, 255);
    text-align: center;
}

.portfolio-headers  p{
    font-size: 15px;
    font-family: "Roboto";
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 33px;
}

.portfolio-body ul{
    list-style: none;
    margin-left: 20%;
}

.portfolio-body ul li{
    
    display: block;
    float: left;
    line-height: 73px;
    margin-right: 5%;
}

.portfolio-body ul li:last-child{
    margin-right: 0px;
}

.portfolio-body ul li a{
    text-decoration: none;
    font-size: 15px;
    font-family: "Roboto";
    color: rgb(63, 66, 68);
}

.portfolio-body ul li a:hover{
    color: rgb(255, 255, 255);
}

.portfolio-card .image img{
    width: 100%;
}

.portfolio-card .content a{
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.portfolio-card .content a span{
    font-size: 20px;
    font-family: "Roboto";
    font-weight: bold;
    line-height: 53px;
    color: #3f4244;
}

.portfolio-card .content a p{
    padding-bottom: 29px;
    padding-left: 20px;
    padding-right: 20px;
    color: #929ba0;
}

.load-more{
    cursor: pointer;
}

.stats-card .content span{
    font-size: 30px;
    font-family: "Roboto";
    color: rgb(255, 255, 255);
    line-height: 99px;
}

.stats-card .content p{
    font-size: 15px;
    font-family: "Roboto";
    color: rgb(16, 202, 183);
}

.team-header span{
    font-size: 40px;
    font-family: "Roboto";
    font-weight: bold;
    color: rgb(63, 66, 68);
    line-height: 132px;
}

.team-header p{
    font-size: 15px;
    font-family: "Roboto";
    color: rgb(146, 155, 160);
    margin-bottom: 98px;
}

.team-card .image img{
    max-width: 100%;
}

.team-card .content a{
    text-decoration: none;
}

.team-card .content a span{
    display: block;
    font-size: 25px;
    font-family: "Roboto";
    color: rgb(63, 66, 68);
    margin-bottom: 13px;
}

.desc{
    font-size: 15px;
    font-family: "Roboto";
    color: rgb(63, 66, 68);
}

.post{
    font-size: 20px;
    font-family: "Roboto";
    color: rgb(255, 255, 255);
    margin-bottom: 25px;
}

.subscribe .wrapper span{
    font-size: 30px;
    font-family: "Roboto";
    color: rgb(255, 255, 255);
}

.subscribe .wrapper button{
    background-image: url("../images/Btn_subscribe.png");
    width: 25%;
    margin-top:43px;
    color: rgb(255, 255, 255);
    background-color: #233537;
    line-height: 49px;
    cursor: pointer;
    font-size: 20px;
}

.client-card a{
    text-decoration: none;
}

.client-headers span{
    font-size: 40px;
    font-family: "Roboto";
    font-weight: bold;
    color: rgb(63, 66, 68);
    line-height: 132px;
}

.client-headers p{
    font-size: 13px;
        font-family: "Roboto";
    color: rgb(146, 155, 160);
    margin-bottom: 78px;
}

.client-card-h h2{
    font-size: 20px;
    padding-bottom: 15px;
    font-family: "Roboto";
    color: rgb(255, 255, 255);
}

.client-card-h span{
    font-size: 13px;
    font-family: "Roboto";
    color: rgb(36, 54, 56);
}

.client-card-b p{
    font-size: 13px;
    font-family: "Roboto";
    color: rgb(255, 255, 255);
}

.map ul{
    background-image: url("../images/Shape.png");
    width: 31.5699%;
    list-style: none;
    float: right;
}

.map ul li{
    padding-left: 40px;
    padding-right: 40px;
    line-height: 40px;
    
}

.map ul li:first-child{
    padding-top: 20px;
}

.map ul li:last-child{
    padding-bottom: 20px;
}

.footer span{
    color: #10cab7;
    line-height: 110px;   
}

.footer p{
    line-height: 110px;
    text-align: center;
    color: #ffffff;
}    

/* .nav-upper .content span{
    font-size: 20px;
    font-family: "Roboto";
    color: rgb(255, 255, 255);
    line-height: 48px;
} */



.about-l img{
    max-width: 100%;
}

.about-r span{
    font-size: 30px;
    font-family: "Roboto";
    font-weight: bold;
    color: rgb(63, 66, 68);
    line-height: 99px;
}

.about-r p{
    font-size: 15px;
    font-family: "Roboto";
    font-weight: bold;
    color: rgb(146, 155, 160);
    margin-bottom: 18px;
}

.Add-r h2{
    font-size: 30px;
    font-family: "Roboto";
    color: rgb(255, 255, 255);
    padding-bottom: 15px;
}

.Add-r span{
    font-size: 20px;
    font-family: "Roboto";
    color: rgb(36, 54, 56);
}

.Add-r p{
    font-size: 15px;
    font-family: "Roboto";
    color: rgb(255, 255, 255);
}

.Add-l img{
    max-width: 100%;
}

.contact-us-h h2{
         
    font-size: 40px;
    font-family: "Roboto";
    font-weight: bold;
    color: rgb(255, 255, 255);
    line-height: 132px;
}

.contact-us-h p{
     
    font-size: 13px;
    font-family: "Roboto";
    color: rgb(255, 255, 255);
    margin-bottom: 98px;
}

input[type = text]{
     
    width: 47.6562%;
    border: 1px solid #ffffff;
    background:transparent;
    line-height: 48px;
    padding-left: 5%;
}

#message{
     
    width: 100%;
    margin-top: 88px;
}

input[type = submit]{
    width:22.1354%;
    float: right;
    line-height: 50px;
    background-color: #233537;
    border: none;
    cursor: pointer;
    margin-top: 37px;
    color: #ffffff;
    font-family: "Roboto";
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ffffff;
     
    opacity: 1; /* Firefox */
    font-family: "Roboto";
}
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #ffffff;
    font-family: "Roboto";
}

@media(min-width:375px){
    .header img{
        max-width: 100%;
        display: block;
    }
    
    .header a{
        display: block;
        cursor: pointer;
    }
    
    .header ul{
        display: block;
        min-width: 46.5414%;
        list-style: none;
        float:right;
        line-height: 45px;
    }
    
    .header li{
        width:18.3486%;
        line-height: 45px;
        display: block;
        float: left;
    }
    
    .header li a{
        text-decoration: none;
        display: block;
        color: #3f4244;
        text-align: center;
    }
    
    .header li a:hover{
        color: #ffffff;
    }
    
    .header li:hover{
        background-color: #55e8ca;
        border-radius: 6px;
    }
    
    .hero .wrapper h2{
        line-height: 234px;
        font-size: 60px;
        font-family: "Roboto";
        color: rgb(255, 255, 255);
    }
    
    .hero .wrapper button{
        width: 21.3310%;
        background-image: url("../images/hero_btn.png");
        line-height: 70px;
        border-radius: 5px;
        border-style: none;
        font-size: 15px;
        font-family: "Roboto";
        color: rgb(255, 255, 255);
        cursor: pointer;
    }
    
    .services .wrapper button{
        width: 21.3310%;
        background-image: url("../images/hero_btn.png");
        line-height: 70px;
        border-radius: 5px;
        border-style: none;
        font-size: 15px;
        font-family: "Roboto";
        color: rgb(255, 255, 255);
        margin-bottom: 82px;
    }
    
    .services-card .image img{
        width: 100%;
    }
    
    .services-card .image span{
        line-height: 63px;
        font-size: 15px;
        font-family: "Roboto";
        font-weight: bold;
        color: rgb(63, 66, 68);
    }
    
    .services-card .content p{
        font-size: 13px;
        font-family: "Roboto";
        color: rgb(146, 155, 160);
    }
    
    .browser-header span{
        font-size: 40px;
        font-family: "Roboto";
        font-weight: bold;
        color: rgb(255, 255, 255);
        line-height: 132px;
    }
    
    .browser-header p{
        font-size: 13px;
        font-family: "Roboto";
        color: rgb(255, 255, 255);
        /* margin-bottom: 98px; */
    }
    
    .browser-body img{
        max-width: 100%;
        
    }
    .phone-add .wrapper span{
        font-size: 40px;
        font-family: "Roboto";
        color: rgb(63, 66, 68);
        font-weight: bold;
    }
    
    .phone-add .wrapper p{
        font-size: 15px;
        font-family: "Roboto";
        color: rgb(146, 155, 160);
        margin-top: 61px;
    }
    
    .phone-add .wrapper button{
        width: 43.70620%;
        background-image: url("../images/hero_btn.png");
        line-height: 70px;
        border-radius: 5px;
        border-style: none;
        font-size: 15px;
        font-family: "Roboto";
        cursor: pointer;
        color: rgb(255, 255, 255);
    }
    
    .portfolio-headers span{
        font-size: 40px;
        font-family: "Roboto";
        color: rgb(255, 255, 255);
        text-align: center;
    }
    
    .portfolio-headers  p{
        font-size: 13px;
        font-family: "Roboto";
        color: rgb(255, 255, 255);
        text-align: center;
        margin-top: 33px;
    }
    
    .portfolio-body ul{
        list-style: none;
        margin-left: 30%;
    }
    
    .portfolio-body ul li{
        
        display: block;
        float: left;
        line-height: 73px;
        margin-right: 5%;
    }
    
    .portfolio-body ul li:last-child{
        margin-right: 0px;
    }
    
    .portfolio-body ul li a{
        text-decoration: none;
        font-size: 15px;
        font-family: "Roboto";
        color: rgb(63, 66, 68);
    }
    
    .portfolio-body ul li a:hover{
        color: rgb(255, 255, 255);
    }
    
    .portfolio-card .image img{
        width: 100%;
    }
    
    .portfolio-card .content a{
        text-decoration: none;
        display: block;
        cursor: pointer;
    }
    .portfolio-card .content a span{
        font-size: 15px;
        font-family: "Roboto";
        font-weight: bold;
        line-height: 53px;
        color: #3f4244;
    }
    
    .portfolio-card .content a p{
        padding-bottom: 29px;
        padding-left: 20px;
        padding-right: 20px;
        color: #929ba0;
    }
    
    .load-more{
        cursor: pointer;
    }
    
    .stats-card .content span{
        font-size: 40px;
        font-family: "Roboto";
        color: rgb(255, 255, 255);
        line-height: 99px;
    }
    
    .stats-card .content p{
        font-size: 13px;
        font-family: "Roboto";
        color: rgb(16, 202, 183);
    }
    
    .team-header span{
        font-size: 40px;
        font-family: "Roboto";
        font-weight: bold;
        color: rgb(63, 66, 68);
        line-height: 132px;
    }
    
    .team-header p{
        font-size: 13px;
            font-family: "Roboto";
        color: rgb(146, 155, 160);
        margin-bottom: 98px;
    }
    
    .team-card .image img{
        width: 100%;
    }
    
    .team-card .content a{
        text-decoration: none;
    }
    
    .team-card .content a span{
        display: block;
        font-size: 20px;
        font-family: "Roboto";
        color: rgb(63, 66, 68);
        margin-bottom: 13px;
    }
    
    .team-card .content div p{
        font-size: 13px;
        font-family: "Roboto";
        color: rgb(255, 255, 255);
        margin-bottom: 29px;
    }
    
    .desc{
        font-size: 15px;
        font-family: "Roboto";
        color: rgb(63, 66, 68);
    }
    
    .post{
        font-size: 13px;
        font-family: "Roboto";
        color: rgb(255, 255, 255);
    }

    
    #left{
         
        cursor: pointer;
        /* margin-top: 50px; */
        margin-left: 10px;
        margin-right: 10px;
        background-image: url("../images/Left.png");
        border-radius: 50%;
        background-size: 100%;
        padding:15px;
    }

    #right{
        cursor: pointer;
        /* margin-top: 50px; */
        margin-left: 10px;
        margin-right: 10px;
        background-image: url("../images/Right.png");
        border-radius: 50%;
        background-size: 100%;
        padding:15px;
    }
    
    .subscribe .wrapper span{
        font-size: 20px;
        font-family: "Roboto";
        color: rgb(255, 255, 255);
    }
    
    .subscribe .wrapper button{
        background-image: url("../images/Btn_subscribe.png");
        width: 14.5051%;
        margin-top:43px;
        color: rgb(255, 255, 255);
        background-color: #233537;
        line-height: 49px;
        cursor: pointer;
    }
    
    .about-r span{
        font-size: 20px;
        font-family: "Roboto";
        font-weight: bold;
        color: rgb(63, 66, 68);
        line-height: 99px;
    }
    
    .about-r p{
        font-size: 13px;
        font-family: "Roboto";
        font-weight: bold;
        color: rgb(146, 155, 160);
        margin-bottom: 18px;
    }
    
    .Add-r h2{
        font-size: 25px;
        font-family: "Roboto";
        color: rgb(255, 255, 255);
        padding-bottom: 15px;
    }
    
    .Add-r span{
        font-size: 15px;
        font-family: "Roboto";
        color: rgb(36, 54, 56);
    }
    
    .Add-r p{
        font-size: 13px;
        font-family: "Roboto";
        color: rgb(255, 255, 255);
    }
    
    .client-card a{
        text-decoration: none;
    }
    
    .client-headers span{
        font-size: 40px;
        font-family: "Roboto";
        font-weight: bold;
        color: rgb(63, 66, 68);
        line-height: 132px;
    }
    
    .client-headers p{
        font-size: 13px;
            font-family: "Roboto";
        color: rgb(146, 155, 160);
        margin-bottom: 78px;
    }
    
    .client-card-h h2{
        font-size: 20px;
        padding-bottom: 15px;
        font-family: "Roboto";
        color: rgb(255, 255, 255);
    }
    
    .client-card-h span{
        font-size: 13px;
        font-family: "Roboto";
        color: rgb(36, 54, 56);
    }
    
    .client-card-b p{
        font-size: 13px;
        font-family: "Roboto";
        color: rgb(255, 255, 255);
    }
    
    .contact-us-h h2{
         
        font-size: 40px;
        font-family: "Roboto";
        font-weight: bold;
        color: rgb(255, 255, 255);
        line-height: 132px;
    }
    
    .contact-us-h p{
         
        font-size: 13px;
        font-family: "Roboto";
        color: rgb(255, 255, 255);
        margin-bottom: 98px;
    }
    
    input[type = text]{
         
        width: 47.6562%;
        border: 1px solid #ffffff;
        background:transparent;
        line-height: 48px;
        padding-left: 5%;
    }
    
    #message{
         
        width: 100%;
        margin-top: 88px;
    }
    
    input[type = submit]{
        width:22.1354%;
         
        float: right;
        line-height: 50px;
        background-color: #233537;
        border: none;
        cursor: pointer;
        margin-top: 37px;
        color: #ffffff;
        font-family: "Roboto";
    }
    
    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #ffffff;
         
        opacity: 1; /* Firefox */
        font-family: "Roboto";
    }
      
    :-ms-input-placeholder { /* Internet Explorer 10-11 */
         
        color: #ffffff;
        font-family: "Roboto";
    }
    
    
    
    .map ul{
        background-image: url("../images/Shape.png");
        width: 31.5699%;
        list-style: none;
        float: right;
    }
    
    .map ul li{
        padding-left: 40px;
        padding-right: 40px;
        line-height: 40px;
        
    }
    
    .map ul li:first-child{
        padding-top: 20px;
    }
    
    .map ul li:last-child{
        padding-bottom: 20px;
    }
    
    .footer span{
        color: #10cab7;
        line-height: 110px;   
    }
    
    .footer p{
        line-height: 110px;
        text-align: center;
        color: #ffffff;
    }    
}